{{ define "body" }}
    <p>Hi {{ .Name }},</p>
    <p>Welcome to our Enterprise Video Conference Platform! Your account has been successfully created.</p>
    <p>You can now:</p>
    <ul>
        <li>Schedule and join video meetings</li>
        <li>Invite colleagues to meetings</li>
        <li>Use advanced features like screen sharing and recording</li>
        <li>Manage your meeting preferences</li>
    </ul>
    <p>Get started by logging into your account and exploring the platform.</p>
{{ end }}